<div id = "available">
<ul>
    {{#each tacos}} {{#unless this.delivered}}
    <li>
        {{this.id}}. {{this.taco_type}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="picked_up" value="false">
            <button class="btn btn-warning" type="submit">Taco Delivered.</button>
        </form>

    </li>
    {{/unless}} {{/each}}
</ul>
</div>

<h2>Bulld yourself a taco</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ta">Taco:</label>
        <input type="text" id="ta" name="taco_type">
    </div>

    <button type="submit">Done!</button>Build me a taco!</form>




















